---
layout: layouts/home.njk
permalink: /posts/sormlandsleden/
eleventyNavigation:
  key: Sörmlandsleden
  order: 7
---

<h1>Sörmlandsleden</h1>
Dels har jag vandrat på leden på mina övriga vandringar -- spårvandringarna --
men jag har också vandrat här specifikt för att det är just Sörmlandsleden.
Så vissa inlägg här kommer från äldre vandringar.

{% set postslist = collections.sormlandsleden_posts %}
{% include "postslist.njk" %}
