---
layout: layouts/home.njk
permalink: /posts/stockholm_metro/
eleventyNavigation:
  key: Stockholms tunnelbana
  order: 3
---

<h1>Arkiv</h1>

{% set postslist = collections.sthlm_metro_posts %}
{% include "postslist.njk" %}
