---
layout: layouts/home.njk
permalink: /posts/stockholms_pendel/
eleventyNavigation:
  key: Stockholms pendeltåg
  order: 5
---
<h1>Pendeltåg</h1>

<p>
  <a href="http://kroons.se/vandra/2016/10/08/pendeltag-centralen-stuvsta/">2016-10-08 Stockholm Central – Stuvsta<br></a>
  <a href="http://kroons.se/vandra/2017/02/01/pendeltag-stuvsta-tumba/">2016-10-20 Stuvsta – Tumba<br></a>
  <a href="http://kroons.se/vandra/2016/10/27/pendeltag-tumba-sodertalje/">2016-10-27 Tumba – Södertälje<br></a>
  <a href="http://kroons.se/vandra/2017/01/26/pendeltag-sodertalje-hamn-jarna/">2017-01-25 Södertälje Hamn – Järna<br></a>
  <a href="http://kroons.se/vandra/2017/02/23/pendeltag-jarna-gnesta/">2017-02-12 Järna – Gnesta</a>
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>2017-04-06 Stockholm Central – Sundbyberg<br>
2017-04-20 Sundbyberg – Spånga<br>
2017-04-27 Spånga – Jakobsberg<br>
2017-05-04 Jakobsberg – Kungsängen<br>
2017-06-09 Kungsängen – Bro<br>
2017-06-14 Bro – Bålsta</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
<a href="http://kroons.se/vandra/2017/09/28/pendeltag-alvsjo-skogas/">2017-07-17 Älvsjö – Skogås<br>2017-07-19 Skogås – Jordbro<br></a>
2017-08-24 Jordbro – Tungelsta<br>
2017-09-07 Tungelsta – Ösmo<br>
__2017-09-17 Ösmo – Nynäshamn
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="http://kroons.se/vandra/2017/10/28/pendeltag-stockholm-city-solna/">2017-10-28 Stockholm City – Solna<br></a><a href="http://kroons.se/vandra/2017/11/03/pendeltag-solna-sollentuna/">2017-11-03 Solna – Sollentuna<br></a><a href="http://kroons.se/vandra/2018/01/13/pendeltag-sollentuna-upplands-vasby/">2018-01-13 Sollentuna – Upplands Väsby<br></a><a href="http://kroons.se/vandra/2018/01/21/pendeln-upplands-vasby-marsta/">2018-01-21 Upplands Väsby – Märsta<br></a><a href="http://kroons.se/vandra/2018/02/12/pendeltag-rosersberg-arlanda/">2018-02-08 Rosersberg – Arlanda<br></a><a href="http://kroons.se/vandra/2018/02/15/pendeltag-arlanda-knivsta/">2018-02-15 Arlanda – Knivsta<br></a><a href="http://kroons.se/vandra/2018/03/15/pendeltag-knivsta-uppsala/">2018-03-18 Knivsta – Uppsala</a></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":4} -->
<h4>Pendelcirkeln</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2020-01-22 Nynäshamn - Segersäng<br><a href="http://kroons.se/vandra/2020/02/22/pendelcirkel-2-segersang-till-riksten/">2020-02-22 Segersäng - Riksten</a><br><a href="https://kroons.se/vandra/2020/03/20/pendelcirkel-3-riksten-till-nas/">2020-03-20 Riksten - Näs</a><br>2020-04-10 Näs - Tullgarn Slott<br>2020-05-03 Tullgarn Slott - Trosa<br>2020-05-14 Trosa - Gnesta<br>2020-07-01 Gnesta - Läggesta<br>2020-07-27 Läggersta - Strängnäs<br><a href="https://kroons.se/vandra/2020/08/28/strangnas-svedang/">2020-08-28 Strängnäs - Svedäng<br></a><a href="https://kroons.se/vandra/2020/08/29/svedang-enkoping/">2020-08-29 Svedäng - Enköping</a></p>
<!-- /wp:paragraph -->
<h1>Stockholms pendeltåg</h1>
Stockholms pendeltåg -- X stationer.

__2016-10-08 Stockholm Central – Stuvsta<br>
2016-10-20 Stuvsta – Tumba<br>
2016-10-27 Tumba – Södertälje<br>
2017-01-25 Södertälje Hamn – Järna<br>
2017-02-12 Järna – Gnesta<br>

2017-04-06 Stockholm Central – Sundbyberg<br>
2017-04-20 Sundbyberg – Spånga<br>
2017-04-27 Spånga – Jakobsberg<br>
2017-05-04 Jakobsberg – Kungsängen<br>
2017-06-09 Kungsängen – Bro<br>
2017-06-14 Bro – Bålsta<br>
<br>
2017-07-17 Älvsjö – Skogås<br>
2017-07-19 Skogås – Jordbro<br>
2017-08-24 Jordbro – Tungelsta<br>
2017-09-07 Tungelsta – Ösmo<br>
2017-09-17 Ösmo – Nynäshamn<br>
<br>
2017-10-28 Stockholm City – Solna<br>
2017-11-03 Solna – Sollentuna<br>
2018-01-13 Sollentuna – Upplands Väsby<br>
2018-01-21 Upplands Väsby – Märsta<br>
2018-02-08 Rosersberg – Arlanda<br>
2018-02-15 Arlanda – Knivsta<br>
2018-03-18 Knivsta – Uppsala<br>

<h2>Pendelcirkeln</h2>

2020-01-22 Nynäshamn – Segersäng<br>
2020-02-22 Segersäng – Riksten<br>
2020-03-20 Riksten – Näs<br>
2020-04-10 Näs – Tullgarn Slott<br>
2020-05-03 Tullgarn Slott – Trosa<br>
2020-05-14 Trosa – Gnesta<br>
2020-07-01 Gnesta – Läggesta<br>
2020-07-27 Läggersta – Strängnäs<br>
2020-08-28 Strängnäs – Svedäng<br>
2020-08-29 Svedäng – Enköping<br>

{% set postslist = collections.stockholms_pendel_posts %}
{% include "postslist.njk" %}
