---
layout: layouts/home.njk
permalink: /posts/stockholms_tunnelbana/
eleventyNavigation:
  key: Stockholms tunnelbana
  order: 3
---

<h1>Stockholms tunnelbana</h1>
Stockholms tunnelbana -- 100 stationer.

<h2>Etapper</h2>
2014-11-03 Hornstull – Mälarhöjden<br>
2014-11-09 Mälarhöjden – Skärholmen<br>
2014-11-13 Skärholmen – Fittja<br>
2014-11-18 Hornstull – Mariatorget<br>
2014-11-21 Liljeholmen – Fruängen<br>
2014-11-27 Fittja – Norsborg<br>
2014-12-05 Mariatorget – Ropsten<br>
2015-01-04 Östermalmstorg – Mörby Centrum<br>
2015-01-22 Slussen – Skarpnäck<br>
2015-03-12 Skärmarbrink – Farsta Strand<br>
2015-03-19 Gullmarsplan – Hagsätra<br>
2015-03-26 ”Kungsträdgården?T-Centralen?” Alvik<br>
2015-04-30 Alvik – Vällingby<br>
2015-05-06 Vällingby – Hässelby Strand<br>
2015-05-07 Kungsträdgården – Fridhemsplan<br>
2015-05-14 Fridhemsplan – Sundbyberg Centrum<br>
2015-05-21 Sundbyberg Centrum – Hjulsta<br>
2015-05-28 Västra Skogen – Hallonbergen<br>
2015-06-11 Hallonbergen – Akalla<br>
<br>
2015-07-01 Norsborg – Hässelby Strand<br>
2015-08-25 Hässelby Strand – Hjulsta – Akalla<br>
2015-09-24 Akalla – Mörby Centrum<br>
2015-10-01 Mörby Centrum – Kungsträdgården<br>
2015-10-08 Kungsträdgården – Skarpnäck<br>
2015-10-15 Skarpnäck – Farsta Strand – Hagsätra – Fruängen<br>
2015-11-03 Fruängen – Norsborg<br>

{% set postslist = collections.stockholms_tunnelbana_posts %}
{% include "postslist.njk" %}
