---
layout: layouts/home.njk
permalink: /posts/stockholms_lokalbanor/
eleventyNavigation:
  key: Stockholms lokalbanor
  order: 4
---

<h1>Stockholms lokalbanor</h1>
Stockholms lokalbanor är spårvagnslinjer och mindre tåg.

<h2>Tvärbanan</h2>
2016-01-05 Liljeholmen – Sickla udde<br>
2016-01-24 Liljeholmen – Solna station<br>

<h2>Nockebybanan</h2>
2016-01-31 Alvik – Nockeby<br>

<h2>Lidingöbanan</h2>
2016-02-04 Ropsten – Gåshaga brygga<br>

<h2>Roslagsbanan</h2>
2016-03-03 Östra station – Djursholms Ösby<br>
2016-03-17 Djursholms Ösby – Näsbypark<br>
2016-03-17 Djursholms Ösby – Enebyberg<br>
2016-03-24 Enebyberg – Rydbo<br>
2016-05-03 Rydbo – Österskär<br>

2016-07-06 Roslags Näsby – Täby kyrkby<br>
2016-07-13 Täby kyrkby – Lindholmen<br>
2016-08-01 Lindholmen – Kårsta<br>

<h2>Saltsjöbanan</h2>
2016-05-12 Slussen – Saltsjö-Duvnäs<br>
2016-05-18 Saltsjö-Duvnäs – Solsidan<br>
2016-05-18 Igelboda – Saltsjöbaden<br>

<h2>Lokalbanorna runt</h2>
2018-06-05 Gåshaga brygga – Saltjöbaden – Solsidan<br>
2018-07-05 Solsidan – Sickla – Slussen<br>
2018-08-13 Slussen – Nockeby<br>
2018-08-30 Nockeby – Solna station – (Mörby Centrum)<br>
2018-09-19 (Mörby Centrum) – (Karby gård)<br>
2018-11-06 (Karby gård) – (Karby/Brottby)<br>
2019-01-16 (Brottby) – Kårsta<br>
2019-02-20 Kårsta – (Lövhagen)<br>
2019-05-30 (Lövhagen) – Österskär<br>

{% set postslist = collections.stockholms_lokalbanor_posts %}
{% include "postslist.njk" %}
