---
layout: layouts/home.njk
permalink: /posts/stockholms_pendel/
eleventyNavigation:
  key: Stockholms pendeltåg
  order: 5
---
<h1>Stockholms pendeltåg</h1>

<h3>Mot Gnesta</h3>
<p>
  <a href="{{ '/posts/stockholms_pendel/stockholmcentral-stuvsta/' | url }}">2016-10-08 Stockholm Central – Stuvsta<br></a>
  <a href="{{ '/posts/stockholms_pendel/stuvsta-tumba/' | url }}">2016-10-20 Stuvsta – Tumba<br></a>
  <a href="{{ '/posts/stockholms_pendel/tumba-sodertalje/' | url }}">2016-10-27 Tumba – Södertälje<br></a>
  <a href="{{ '/posts/stockholms_pendel/sodertaljehamn-jarna/' | url }}">2017-01-25 Södertälje Hamn – Järna<br></a>
  <a href="{{ '/posts/stockholms_pendel/jarna-gnesta/' | url }}">2017-02-12 Järna – Gnesta</a>
</p>

<h3>Mot Bålsta</h3>
<p>
  <a href="{{ '/posts/stockholms_pendel/stockholmcentral-sundbyberg/' | url }}">2017-04-06 Stockholm Central – Sundbyberg</a><br>
  <a href="{{ '/posts/stockholms_pendel/sundbyberg-spanga/' | url }}">2017-04-20 Sundbyberg – Spånga</a><br>
  <a href="{{ '/posts/stockholms_pendel/spanga-jakobsberg/' | url }}">2017-04-27 Spånga – Jakobsberg</a><br>
  <a href="{{ '/posts/stockholms_pendel/jakobsberg-kungsangen/' | url }}">2017-05-04 Jakobsberg – Kungsängen</a><br>
  <a href="{{ '/posts/stockholms_pendel/kungsangen-bro/' | url }}">2017-06-09 Kungsängen – Bro</a><br>
  <a href="{{ '/posts/stockholms_pendel/bro-balsta/' | url }}">2017-06-14 Bro – Bålsta</a><br>
</p>

<h3>Mot Nynäshamn</h3>
<p>
  <a href="{{ '/posts/stockholms_pendel/alvsjo-skogas/' | url }}">2017-07-17 Älvsjö – Skogås</a><br>
  <a href="{{ '/posts/stockholms_pendel/skogas-jordbro/' | url }}">2017-07-19 Skogås – Jordbro</a><br>
  <a href="{{ '/posts/stockholms_pendel/jordbro-tungelsta/' | url }}">2017-08-24 Jordbro – Tungelsta</a><br>
  <a href="{{ '/posts/stockholms_pendel/tungelsa-osmo/' | url }}">2017-09-07 Tungelsta – Ösmo</a><br>
  <a href="{{ '/posts/stockholms_pendel/osmo-nynashamn/' | url }}">2017-09-17 Ösmo – Nynäshamn</a><br>
</p>

<h3>Mot Uppsala</h3>
<p>
  <a href="{{ '/posts/stockholms_pendel/stockholmcity-solna/' | url }}">2017-10-28 Stockholm City – Solna<br></a>
  <a href="{{ '/posts/stockholms_pendel/solna-sollentuna/' | url }}">2017-11-03 Solna – Sollentuna<br></a>
  <a href="{{ '/posts/stockholms_pendel/sollentuna-upplandsvasby/' | url }}">2018-01-13 Sollentuna – Upplands Väsby<br></a>
  <a href="{{ '/posts/stockholms_pendel/upplandsvasby-marsta/' | url }}">2018-01-21 Upplands Väsby – Märsta<br></a>
  <a href="{{ '/posts/stockholms_pendel/rosersberg-arlanda/' | url }}">2018-02-08 Rosersberg – Arlanda<br></a>
  <a href="{{ '/posts/stockholms_pendel/arlanda-knivsta/' | url }}">2018-02-15 Arlanda – Knivsta<br></a>
  <a href="{{ '/posts/stockholms_pendel/knivsta-uppsala/' | url }}">2018-03-18 Knivsta – Uppsala</a>
</p>

<h3> Pendelcirkeln - Medsols mellan alla ändhållplatserna </h3>
<p>
    <a href="{{ '/posts/stockholms_pendel/cirkel_nynashamn-segersang/' | url }}">2020-01-22 Nynäshamn - Segersäng<br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_segersang-riksten/' | url }}">2020-02-22 Segersäng - Riksten</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_riksten-nas/' | url }}">2020-03-20 Riksten - Näs</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_nas-tullgarnslott/' | url }}">2020-04-10 Näs - Tullgarn Slott</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_tullgarnslott-trosa/' | url }}">2020-05-03 Tullgarn Slott - Trosa</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_trosa-gnesta/' | url }}">2020-05-14 Trosa - Gnesta</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_gnesta-laggersta/' | url }}">2020-07-01 Gnesta - Läggesta</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_laggersta-strangnas/' | url }}">2020-07-27 Läggersta - Strängnäs</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_strangnas-svedang/' | url }}">2020-08-28 Strängnäs - Svedäng</a><br>
    <a href="{{ '/posts/stockholms_pendel/cirkel_svedang-enkoping/' | url }}">2020-08-29 Svedäng - Enköping</a>
</p>
Fler inlägg kommer inom kort.

{% set postslist = collections.stockholms_pendel_posts %}
{% include "postslist.njk" %}
