---
layout: layouts/home.njk
permalink: /posts/stockholms_pendel/
eleventyNavigation:
  key: Stockholms pendeltåg
  order: 5
---

<h1>Stockholms pendeltåg</h1>
Stockholms pendeltåg -- X stationer.

2016-10-08 Stockholm Central – Stuvsta<br>
2016-10-20 Stuvsta – Tumba<br>
2016-10-27 Tumba – Södertälje<br>
2017-01-25 Södertälje Hamn – Järna<br>
2017-02-12 Järna – Gnesta<br>

2017-04-06 Stockholm Central – Sundbyberg<br>
2017-04-20 Sundbyberg – Spånga<br>
2017-04-27 Spånga – Jakobsberg<br>
2017-05-04 Jakobsberg – Kungsängen<br>
2017-06-09 Kungsängen – Bro<br>
2017-06-14 Bro – Bålsta<br>
<br>
2017-07-17 Älvsjö – Skogås<br>
2017-07-19 Skogås – Jordbro<br>
2017-08-24 Jordbro – Tungelsta<br>
2017-09-07 Tungelsta – Ösmo<br>
2017-09-17 Ösmo – Nynäshamn<br>
<br>
2017-10-28 Stockholm City – Solna<br>
2017-11-03 Solna – Sollentuna<br>
2018-01-13 Sollentuna – Upplands Väsby<br>
2018-01-21 Upplands Väsby – Märsta<br>
2018-02-08 Rosersberg – Arlanda<br>
2018-02-15 Arlanda – Knivsta<br>
2018-03-18 Knivsta – Uppsala<br>

<h2>Pendelcirkeln</h2>

2020-01-22 Nynäshamn – Segersäng<br>
2020-02-22 Segersäng – Riksten<br>
2020-03-20 Riksten – Näs<br>
2020-04-10 Näs – Tullgarn Slott<br>
2020-05-03 Tullgarn Slott – Trosa<br>
2020-05-14 Trosa – Gnesta<br>
2020-07-01 Gnesta – Läggesta<br>
2020-07-27 Läggersta – Strängnäs<br>
2020-08-28 Strängnäs – Svedäng<br>
2020-08-29 Svedäng – Enköping<br>

{% set postslist = collections.stockholms_pendel_posts %}
{% include "postslist.njk" %}
