---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Taggad “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Taggad “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Se <a href="{{ '/tags/' | url }}">alla taggar</a>.</p>
